# Importing **Libraries** 
---

In [102]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier

import tensorflow as tf
from tensorflow import keras

# Reading Data

---

In [79]:
data = pd.read_csv("hotel_bookings.csv").fillna(0)
data.head(10)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out               2015-07-01
1  Resort Hotel            0  ...           Check-Out               2015-07-01
2  Resort Hotel            0  ...           Check-Out               2015-07-02
3  Resort Hotel            0  ...           Check-Out               2015-07-02
4  Resort Hotel            0  ...           Check-Out               2015-07-03
5  Resort Hotel            0  ...           Check-Out               2015-07-03
6  Resort Hotel            0  ...           Check-Out               2015-07-03
7  Resort Hotel            0  ...           Check-Out               2015-07-03
8  Resort Hotel            1  ...            Canceled               2015-05-06
9  Resort Hotel            1  ...            Canceled               2015-04-22

[10 rows x 32 columns]

#data preprocess
---

In [80]:
le = preprocessing.LabelEncoder()
data["arrival_date_month"] = le.fit_transform(data["arrival_date_month"])
data["hotel"] = le.fit_transform(data["hotel"])
data["meal"] = le.fit_transform(data["meal"])
data["country"] = le.fit_transform(data["country"].astype(str))
data["market_segment"] = le.fit_transform(data["market_segment"])
data["distribution_channel"] = le.fit_transform(data["distribution_channel"])
data["reserved_room_type"] = le.fit_transform(data["reserved_room_type"])
data["assigned_room_type"] = le.fit_transform(data["assigned_room_type"])
data["deposit_type"] = le.fit_transform(data["deposit_type"])
data["customer_type"] = le.fit_transform(data["customer_type"])
data["reservation_status"] = le.fit_transform(data["reservation_status"])
data['reservation_status_date'] = data[['reservation_status_year', 'reservation_status_month', 'reservation_status_day']] = data['reservation_status_date'].str.split("-",expand=True) 
data = data.drop(columns='reservation_status_date', axis=1)

data.head()

   hotel  is_canceled  ...  reservation_status_month  reservation_status_day
0      1            0  ...                        07                      01
1      1            0  ...                        07                      01
2      1            0  ...                        07                      02
3      1            0  ...                        07                      02
4      1            0  ...                        07                      03

[5 rows x 34 columns]

# Train and Test Split

---

In [86]:
y = data['is_canceled']
x = pd.DataFrame(data.drop(['is_canceled'], axis=1))
xFeatures = x.columns.values 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, shuffle = True)

x_train

       hotel  lead_time  ...  reservation_status_month  reservation_status_day
32433      1          0  ...                        06                      23
52826      0         69  ...                        04                      27
30649      1         21  ...                        11                      30
14521      1          0  ...                        01                      21
87436      0          0  ...                        04                      20
...      ...        ...  ...                       ...                     ...
29853      1         28  ...                        11                      07
936        1         49  ...                        06                      22
36452      1         68  ...                        05                      21
52945      0         71  ...                        04                      27
60255      0        277  ...                        04                      04

[95512 rows x 33 columns]

# Training and Classification (Random Forest Method)

*Gini Criterion*

---

In [91]:
clf = RandomForestClassifier(criterion='gini',max_depth=2)
clf = clf.fit(x_train, y_train)

In [98]:
yPredict = clf.predict(x_test)
print(classification_report(y_test, yPredict))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99     15057
           1       1.00      0.97      0.99      8821

    accuracy                           0.99     23878
   macro avg       0.99      0.99      0.99     23878
weighted avg       0.99      0.99      0.99     23878

*Entropy Criterion*


---

In [100]:
clf = RandomForestClassifier(criterion='entropy',max_depth=2)
clf = clf.fit(x_train, y_train)

In [101]:
yPredict = clf.predict(x_test)
print(classification_report(y_test, yPredict))

              precision    recall  f1-score   support

           0       0.97      1.00      0.99     15057
           1       1.00      0.95      0.98      8821

    accuracy                           0.98     23878
   macro avg       0.99      0.98      0.98     23878
weighted avg       0.98      0.98      0.98     23878

# Training and Classification (Neural Network)

In [143]:
model = keras.Sequential([
    keras.layers.Flatten(input_shape=(33, 1)),
    keras.layers.Dense(128, activation='relu'),
    keras.layers.Dense(10),
    keras.layers.Dense(2)
])

In [144]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [145]:
# tst = np.random.randint(2, size=(95512, 1))
tst = np.zeros((95512, 1))
# model.fit(x_train, y_train, epochs=10)
# y_train = np.reshape(y_train, (95512, 1)) 
tst = np.asarray(tst)
y_train.shape

(95512,)

In [147]:
x_train = np.asarray(x_train).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)

model.fit(x_train, y_train, epochs=10)

Epoch 1/10
2985/2985 [==============================] - 5s 2ms/step - loss: 1.2952 - accuracy: 0.8398
Epoch 2/10
2985/2985 [==============================] - 5s 2ms/step - loss: 0.4051 - accuracy: 0.9225
Epoch 3/10
2985/2985 [==============================] - 5s 2ms/step - loss: 0.2937 - accuracy: 0.9521
Epoch 4/10
2985/2985 [==============================] - 6s 2ms/step - loss: 0.2844 - accuracy: 0.9516
Epoch 5/10
2985/2985 [==============================] - 5s 2ms/step - loss: 0.1941 - accuracy: 0.9714
Epoch 6/10
2985/2985 [==============================] - 5s 2ms/step - loss: 0.1804 - accuracy: 0.9736
Epoch 7/10
2985/2985 [==============================] - 5s 2ms/step - loss: 0.1536 - accuracy: 0.9818
Epoch 8/10
2985/2985 [==============================] - 5s 2ms/step - loss: 0.1523 - accuracy: 0.9799
Epoch 9/10
2985/2985 [==============================] - 5s 2ms/step - loss: 0.1398 - accuracy: 0.9843
Epoch 10/10
2985/2985 [==============================] - 5s 2ms/step - loss: 0.1300 - accuracy: 0.9868

In [152]:
x_test = np.asarray(x_test).astype(np.float32)
y_test = np.asarray(y_test).astype(np.float32)

test_loss, test_acc = model.evaluate(x_test,  y_test, verbose=2)
print('\nTest accuracy:', test_acc)

747/747 - 1s - loss: 0.1275 - accuracy: 0.9892

Test accuracy: 0.9892369508743286

*Make Prediction*

---

In [164]:
probability_model = tf.keras.Sequential([model, tf.keras.layers.Softmax()])
predictions = probability_model.predict(x_test)

In [178]:
pred = np.zeros((len(predictions), 1))
for i in range(len(predictions)):
  pred[i] = np.argmax(predictions[i])

In [180]:
print(classification_report(y_test, pred))

              precision    recall  f1-score   support

         0.0       0.98      1.00      0.99     15057
         1.0       1.00      0.97      0.99      8821

    accuracy                           0.99     23878
   macro avg       0.99      0.99      0.99     23878
weighted avg       0.99      0.99      0.99     23878